.Card{
  display: inline-grid;
  background-color: rgba(27, 38, 49, 0.99);
  margin: 5px;
  transition: all .2s;
  justify-items: center;
  border-radius: 15px;
  color: #ffde41;
  width: 500px;
}


.CardDetail{
	display: inline-grid;
	flex-wrap: wrap;
	justify-content: center;
}

.Card h5{
	margin: 5px;
	justify-content: center;
}
.Card h1{
	margin: 1px;
}
.Activities span{
	margin: 2px;
	padding: 5px;
	display: grid;
  	background-color: rgba(23, 32, 42, 1);
  	border-radius: 15px;
}
.Activities h5{
	font-size: 20px;
	width: auto;
	margin:  2px;
}
.Activities h6{
	font-size: 10px;
	width: auto;
	margin:  1px;
}
.Activities{
	padding: 5px;
	width: auto;
}

.activityTitle{
	font-size: 20px;
}


.CardDetail button{
  font-size: 15px;
  border-radius: 10px;
  font-family:"Roboto";

  color: #ffde41;
  margin: 5px;
  background-size: auto;
  background-color: rgba(0, 0, 0, 0.0);
  border: 2px solid  #ffde41;
  transition: all 0.2s;  
}

.CardDetail button:hover{
  background-color: #ffde41;
  border-radius: 10px;
  color: #2E4053;
}

.CardDetail h1{
	margin-bottom: 0px;
}
.Card  div {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}

.Error{
	display: block;
  background-color: rgba(27, 38, 49, 0.95);
  margin: 5px;
  transition: all .2s;
  padding: 10px;
}

.Error:hover{
  background-color: rgba(23, 32, 42, 1);
  color: #ffde41;
}
.Error:hover p, .Error:hover button{
  color: #ffde41;
}


.Error p{
	display: block;
  margin: 5px;
  color: #fff;
}

.Error button{
  margin: 5px;
  font-family:"Roboto";
  font-weight: bold;
  color: #fff;
  width: max-content;
  height: max-content;
  padding: 5px;
  border: 1px solid #fff;;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.0);
  letter-spacing: 1px;
  transition: all .2s linear;
  text-decoration: none;
}

.Error button:hover{
  background-color: #ffde41;
  border-color: #ffde41 ;
  border-radius: 10px;
  color: #2E4053;
}

.Error button:active{
  transition: all 0.1s;
  background-color: rgba(255, 0, 0, 0.0);
  border-radius: 25px;
  color: #ffde41;
}
