.Card{
  display: inline-grid;
  background-color: rgba(27, 38, 49, 0.95);
  margin: 5px;
  transition: all .2s;
}

.Card:hover{
  background-color: rgba(23, 32, 42, 1);
  color: #ffde41;
}
.Card:hover h6, .Card:hover h4, .Card:hover button{
  color: #ffde41;
}

.Card {
  width: 15em;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
}
.Card img {
    width: 100%;
    height: 170px;
}


.Card h4{
  font-display: auto;
align-content: stretch;
color: #fff;
}

.Card h6{
  margin: auto;
  color: #fff;
}


.Card button{
  width: max-content;
  justify-self: center;
  padding: 5px;
  color: #fff;
  border: 1px;
  background-color: rgba(255, 0, 0, 0.0);
  font-weight: bold;
 letter-spacing: 1px;
 transition: all .2s linear;
  text-decoration: none;
}

.Card button:hover{
background-color: #ffde41;
border-radius: 25px;
color: #2E4053;
}

.Card button:active{
  transition: all 0.1s;
background-color: rgba(255, 0, 0, 0.0);
border-radius: 25px;
color: #ffde41;
}